@model online_shopping.Models.user

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editeprofile</title>

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            align-content: center;
        }

        form {
            border: 3px solid #f1f1f1;
            width: 100%;
            align-content: center;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #0026ff;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }



        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /* Change styles for span and cancel button on extra small screens */

        .cancelbtn {
            width: 100%;
        }
    </style>
</head>
<body>
    <div>
        <form method="post">


            @Html.LabelFor(n => n.Name)
            <div class="col-md-8">
                @Html.TextBoxFor(n => n.Name, new { @class = "form-control" })
            </div>

            @Html.LabelFor(n => n.email)
            <div class="col-md-8">
                @Html.TextBoxFor(n => n.email, new { @class = "form-control" })
            </div>

            @Html.LabelFor(n => n.password)
            <div class="col-md-8">
                @Html.TextBoxFor(n => n.password, new { @class = "form-control" })
            </div>

            @Html.LabelFor(n => n.age)
            <div class="col-md-8">
                @Html.TextBoxFor(n => n.age, new { @class = "form-control" })
            </div>

            <input type="submit" class="btn btn-info " />
            @Html.ActionLink("Cancel", "home", "profile", null, new { @class = "btn btn-primary" })
        </form>
    </div>
</body>
</html>
